/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);


}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  --persian-blue: #072AC8;
  --dodger-blue: #1e96fc;
  --uranian-blue: #a2d6f9;
  --aureolin: #fcf300;
  --mikado-yellow: #fcc600; 
  --smoky-black: #0a0903;
  --flame-orange: #dd6031;
  --atomic-tangerine: #f79256;
  --midnight-blue: #372772;
  --lime-green: #8de969;
  --strength-color: #ffc19d;
  --cardio-color: #b6ff99;
}

.p-block-div{
  width: 100%;
  margin: 5px;
  padding: 10px;
}
.p-block-div:nth-child(5n+1) {
  border-left: var(--persian-blue) 5px solid;
}

.p-block-div:nth-child(5n+2) {
  border-left: var(--mikado-yellow) 5px solid;
}

.p-block-div:nth-child(5n+3) {
  border-left: var(--lime-green) 5px solid;
}

.p-block-div:nth-child(5n+4) {
  border-left: var(--uranian-blue) 5px solid;
}

.p-block-div:nth-child(5n+5) {
  border-left: var(--flame-orange) 5px solid;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.right-button{ 
  position: absolute; 
  right: 0;
}

.title-row{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.centered-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.simple-button{
  background: var(--midnight-blue);
  border: 1px solid var(--midnight-blue);
  border-radius: 6px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 3px;
  outline: 0;
  padding: 8px 8px;
  text-align: center;
}

.simple-button:hover,
.simple-button:active {
  background-position: 0 0;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
}

.simple-button:active {
  opacity: .5;
}

