@import './base.css';

#app {
  font-weight: normal;
  margin-top: 2rem;
}

a,
.green {
  text-decoration: none;
  color: black;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(323, 100%, 37%, 0.2);
  }
}
